<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzyl.nursing.mapper.ElderMapper">

    <resultMap type="Elder" id="ElderResult">
        <result property="id"        column="id" />
        <result property="name"      column="name" />
        <result property="age"       column="age" />
        <result property="gender"    column="gender" />
        <result property="idCardNo"  column="id_card_no" />
        <result property="phone"     column="phone" />
        <result property="address"   column="address" />
        <result property="image"     column="image" />
        <result property="remark"    column="remark" />
        <result property="createTime"  column="create_time" />
        <result property="updateTime"  column="update_time" />
        <result property="createBy"    column="create_by" />
        <result property="updateBy"    column="update_by" />
    </resultMap>

    <sql id="selectElderVo">
        select id, name, age, gender, id_card_no, phone, address, image,
               remark, create_time, update_time, create_by, update_by
        from elder
    </sql>

    <select id="selectElderList" parameterType="Elder" resultMap="ElderResult">
        <include refid="selectElderVo"/>
        <where>
            <if test="name != null and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="idCardNo != null and idCardNo != ''"> and id_card_no like concat('%', #{idCardNo}, '%')</if>
            <if test="phone != null and phone != ''"> and phone like concat('%', #{phone}, '%')</if>
            <if test="gender != null and gender != ''"> and gender = #{gender}</if>
        </where>
    </select>

    <select id="selectElderById" parameterType="Long" resultMap="ElderResult">
        <include refid="selectElderVo"/>
        where id = #{id}
    </select>

    <insert id="insertElder" parameterType="Elder" useGeneratedKeys="true" keyProperty="id">
        insert into elder
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="age != null">age,</if>
            <if test="gender != null and gender != ''">gender,</if>
            <if test="idCardNo != null and idCardNo != ''">id_card_no,</if>
            <if test="phone != null and phone != ''">phone,</if>
            <if test="address != null">address,</if>
            <if test="image != null">image,</if>
            <if test="remark != null">remark,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="age != null">#{age},</if>
            <if test="gender != null and gender != ''">#{gender},</if>
            <if test="idCardNo != null and idCardNo != ''">#{idCardNo},</if>
            <if test="phone != null and phone != ''">#{phone},</if>
            <if test="address != null">#{address},</if>
            <if test="image != null">#{image},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
        </trim>
    </insert>

    <update id="updateElder" parameterType="Elder">
        update elder
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="age != null">age = #{age},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="idCardNo != null">id_card_no = #{idCardNo},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="address != null">address = #{address},</if>
            <if test="image != null">image = #{image},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteElderById" parameterType="Long">
        delete from elder where id = #{id}
    </delete>

    <delete id="deleteElderByIds" parameterType="String">
        delete from elder where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
